html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url('/images/background.jpg'); /* Ruta relativa a la imagen */
    background-size: cover; /* Escala la imagen para llenar el fondo */
    background-repeat: no-repeat; /* Evita que se repita la imagen */
}

.estado-pendiente {
    background-color: red; /* Color rojo para Pendiente */
    padding: 5px 10px; /* Ajusta el relleno como prefieras */
    border-radius: 5px; /* Añade un borde redondeado si lo deseas */
   
}

.estado-disponible {
    background-color: green; /* Color verde para Disponible */
    padding: 5px 10px; /* Ajusta el relleno como prefieras */
    border-radius: 5px; /* Añade un borde redondeado si lo deseas */
}
